{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Crear Anticipo</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar Anticipo</button>
    </form>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<!-- Incluir el script de cálculo aquí -->
<script>
document.addEventListener('DOMContentLoaded', function() {
    function calcularValores() {
        var subtotal = parseFloat(document.querySelector('input[name="subtotal"]').value) || 0;
        var iva = parseFloat(document.querySelector('select[name="iva"]').value) || 0;
        var retencion = parseFloat(document.querySelector('select[name="retencion"]').value) || 0;

        // Calcular el valor del IVA y la retención
        var valor_iva = subtotal * (iva / 100);
        var valor_retencion = subtotal * (retencion / 100);

        // Calcular el total a pagar
        var total_pagar = subtotal + valor_iva - valor_retencion;

        // Redondear a enteros
        var valor_iva_redondeado = Math.round(valor_iva);
        var valor_retencion_redondeado = Math.round(valor_retencion);
        var total_pagar_redondeado = Math.round(total_pagar);

        // Mostrar el valor calculado del IVA y la retención en el formulario
        document.querySelector('input[name="valor_iva"]').value = valor_iva_redondeado;
        document.querySelector('input[name="valor_retencion"]').value = valor_retencion_redondeado;

        // Mostrar el total a pagar redondeado
        document.querySelector('input[name="total_pagar"]').value = total_pagar_redondeado;
    }

    // Añadir eventos a los campos para recalcular los valores
    document.querySelectorAll('input[name="subtotal"], select[name="iva"], select[name="retencion"]').forEach(function(element) {
        element.addEventListener('input', calcularValores);
    });

    // Calcular valores iniciales cuando la página carga
    calcularValores();
});
</script>


{% endblock scripts %}



