{% extends 'layouts/base.html' %}
{% load static %}

{% block extrastyle %}
<style>
    .iframe-container {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        overflow: hidden;
    }
    .parent-fit {
        flex-grow: 1;
        border: none;
        margin: 0;
        padding: 0;
        height: 100vh;
    }
    .table-container {
        margin-top: 20px;
    }
    .pagination {
        margin-top: 20px;
    }
    /* Truncar texto con puntos suspensivos */
    .truncate-text {
        max-width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    /* Mostrar el contenido completo en un modal */
    .modal-body {
        white-space: pre-wrap;
    }
</style>
{% endblock extrastyle %}

{% block content %}
<div class="container">
    <h1>Ver Solicitudes</h1>

    <!-- Formulario de búsqueda -->
    <form method="GET" class="form-inline mb-4">
        <div class="form-group mr-2">
            <label for="id" class="sr-only">ID</label>
            <input type="text" id="id" name="id" value="{{ request.GET.id }}" class="form-control" placeholder="ID">
        </div>
        <div class="form-group mr-2">
            <label for="nombre" class="sr-only">Nombre</label>
            <input type="text" id="nombre" name="nombre" value="{{ request.GET.nombre }}" class="form-control" placeholder="Nombre">
        </div>
        <div class="form-group mr-2">
            <label for="descripcion" class="sr-only">Descripción</label>
            <input type="text" id="descripcion" name="descripcion" value="{{ request.GET.descripcion }}" class="form-control" placeholder="Descripción">
        </div>
        <div class="form-group mr-2">
            <label for="cantidad" class="sr-only">Cantidad</label>
            <input type="number" id="cantidad" name="cantidad" value="{{ request.GET.cantidad }}" class="form-control" placeholder="Cantidad">
        </div>
        <div class="form-group mr-2">
            <label for="destino" class="sr-only">Destino</label>
            <input type="text" id="destino" name="destino" value="{{ request.GET.destino }}" class="form-control" placeholder="Destino">
        </div>
        <div class="form-group mr-2">
            <label for="tipo" class="sr-only">Tipo</label>
            <input type="text" id="tipo" name="tipo" value="{{ request.GET.tipo }}" class="form-control" placeholder="Tipo">
        </div>
        <div class="form-group mr-2">
            <label for="solicitado" class="sr-only">Solicitado Por</label>
            <input type="text" id="solicitado" name="solicitado" value="{{ request.GET.solicitado }}" class="form-control" placeholder="Solicitado Por">
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

    <!-- Tabla de resultados -->
    <div class="table-container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Cantidad</th>
                    <th>Destino</th>
                    <th>Tipo</th>
                    <th>Solicitado Por</th>
                    <th>Observaciones Espec</th>
                    <th>Imagen</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for solicitud in solicitudes %}
                <tr id="solicitud-{{ solicitud.id }}">
                    <td>{{ solicitud.id }}</td>
                    <td>{{ solicitud.fecha|date:"d/m/Y g:i a" }}</td>
                    <td>{{ solicitud.nombre }}</td>
                    <!-- Descripción truncada y modal -->
                    <td class="truncate-text">
                        {{ solicitud.descripcion|slice:":30" }} <!-- Mostrar solo los primeros 30 caracteres -->
                        {% if solicitud.descripcion|length > 30 %}
                        <a href="#" data-toggle="modal" data-target="#modalDescripcion{{ solicitud.id }}">...</a>
                        {% endif %}
                    </td>
                    <td>{{ solicitud.cantidad }}</td>
                    <td>{{ solicitud.destino }}</td>
                    <td>{{ solicitud.tipo }}</td>
                    <td>{{ solicitud.solicitado }}</td>
                    <!-- Observaciones truncadas y modal -->
                    <td class="truncate-text">
                        {{ solicitud.observaciones|slice:":30" }} <!-- Mostrar solo los primeros 30 caracteres -->
                        {% if solicitud.observaciones|length > 30 %}
                        <a href="#" data-toggle="modal" data-target="#modalObservaciones{{ solicitud.id }}">...</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if solicitud.imagen %}
                        <img src="{{ solicitud.imagen.url }}" alt="Imagen del Producto" style="width: 50px; height: 50px;">
                        {% else %}
                        No disponible
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'subir_cotizacion' solicitud.id %}" class="btn btn-secondary">Subir Cotización</a>
                        <a href="{% url 'solicitud_detail' solicitud.id %}" class="btn btn-primary">Detalle</a>
			<button class="btn btn-danger" onclick="ocultarSolicitud({{ solicitud.id }})">Archivar</button>
                    </td>
                </tr>
		<!-- Modal para mostrar la descripción completa -->
                <div class="modal fade" id="modalDescripcion{{ solicitud.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabelDescripcion{{ solicitud.id }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabelDescripcion{{ solicitud.id }}">Descripción Completa</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {{ solicitud.descripcion }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal para mostrar las observaciones completas -->
                <div class="modal fade" id="modalObservaciones{{ solicitud.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabelObservaciones{{ solicitud.id }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabelObservaciones{{ solicitud.id }}">Observaciones Completas</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {{ solicitud.observaciones }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <tr>
                    <td colspan="12">No hay solicitudes disponibles.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Paginación -->
        <div class="pagination">
            <span class="step-links">
                {% if solicitudes.has_previous %}
                    <a href="?page=1">&laquo; Primera</a>
                    <a href="?page={{ solicitudes.previous_page_number }}">Anterior</a>
                {% endif %}
                <span class="current">
                    Página {{ solicitudes.number }} de {{ solicitudes.paginator.num_pages }}.
                </span>
                {% if solicitudes.has_next %}
                    <a href="?page={{ solicitudes.next_page_number }}">Siguiente</a>
                    <a href="?page={{ solicitudes.paginator.num_pages }}">Última &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function ocultarSolicitud(id) {
        // Asegúrate de que el 'id' no esté vacío
        if (!id) {
            console.error("ID de solicitud no encontrado");
            return;
        }

        // Enviar una solicitud AJAX para ocultar la solicitud
        $.ajax({
            url: "/ocultar_solicitud/" + id + "/",  // Generar la URL manualmente usando el ID
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'  // Necesario para solicitudes POST en Django
            },
            success: function(response) {
                // Ocultar la fila de la tabla
                $('#solicitud-' + id).hide();
            },
            error: function(xhr, status, error) {
                console.error("Error ocultando solicitud: ", error);
            }
        });
    }
</script>
{% endblock content %}

