{% load i18n static admin_datta %}
{% admin_get_menu as app_list %}
<nav class="pcoded-navbar">
  <div class="navbar-wrapper">
    <div class="navbar-brand header-logo">
      <a href="{% url 'index' %}" class="b-brand">
        <div class="b-bg">
          <i class="feather icon-trending-up"></i>
        </div>
        <span class="b-title">Fishco</span>
      </a>
      <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
    </div>
    <div class="navbar-content scroll-div">
      <ul class="nav pcoded-inner-navbar">
        <li class="nav-item pcoded-menu-caption">
          <label>Modulos</label>
        </li>


        <li class="nav-item pcoded-menu-caption fs-6">
          <label>Solicitud</label>
        </li>


        <!-- Visible para todos los usuarios (superusuario, staff y usuarios regulares) -->
        <li class="nav-item {% if 'solicitud' in segment %}active{% endif %}">
          <a href="{% url 'solicitud' %}" class="nav-link">
            <span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Crear Solicitud</span>
          </a>
        </li>

        <!-- Nueva opción para ver solicitudes personales -->
        <li class="nav-item {% if 'mis_solicitudes' in segment %}active{% endif %}">
          <a href="{% url 'mis_solicitudes' %}" class="nav-link">
            <span class="pcoded-micon"><i class="feather icon-file-text"></i></span>
            <span class="pcoded-mtext">Mis Solicitudes</span>
          </a>
        </li>

        <li class="nav-item {% if 'ver_solicitudes' in segment %}active{% endif %}">
            <a href="{% url 'ver_solicitudes' %}" class="nav-link">
              <span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Ver Solicitudes</span>
            </a>
          </li>

        <li class="nav-item pcoded-menu-caption fs-6">
          <label>ORDENES</label>
        </li>

        <!-- Opciones exclusivas para superusuarios -->
        {% if request.user.is_superuser %}
          <li class="nav-item {% if 'ver_ordenes' in segment %}active{% endif %}">
            <a href="{% url 'ver_ordenes' %}" class="nav-link">
              <span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Ver Ordenes</span>
            </a>
          </li>
          <li class="nav-item {% if 'diario' in segment %}active{% endif %}">
            <a href="{% url 'diario' %}" class="nav-link">
              <span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Crear Diario</span>
            </a>
          </li>

          <li class="nav-item {% if 'orden' in segment %}active{% endif %}">
            <a href="{% url 'orden' %}" class="nav-link">
              <span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Crear Orden</span>
            </a>
          </li>

          <li class="nav-item {% if 'ver_diario' in segment %}active{% endif %}">
            <a href="{% url 'ver_diario' %}" class="nav-link">
              <span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Ver Ordenes Diarias</span>
            </a>
          </li>
          
          
          <li class="nav-item pcoded-menu-caption fs-6">
          <label>COMBUSTIBLE</label>
          </li>

          <!-- Opciones para reporte de combustible solo para superusuarios -->
          <li class="nav-item {% if 'reporte_combustible' in segment %}active{% endif %}">
            <a href="{% url 'reporte_combustible' %}" class="nav-link">
              <span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Reporte Combustible</span>
            </a>
          </li>
          <li class="nav-item {% if 'ver_combustible' in segment %}active{% endif %}">
            <a href="{% url 'ver_reporte_combustible' %}" class="nav-link">
              <span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Ver Reporte Combustible</span>
            </a>
          </li>

          <li class="nav-item pcoded-menu-caption fs-6">
          <label>ANTICIPO</label>
          </li>

          <li class="nav-item {% if 'anticipo' in segment %}active{% endif %}">
            <a href="{% url 'anticipo' %}" class="nav-link">
              <span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Crear Anticipo</span>
            </a>
          </li>
          
          
          
          <li class="nav-item {% if 'ver_anticipos' in segment %}active{% endif %}">
            <a href="{% url 'ver_anticipos' %}" class="nav-link">
              <span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Ver Anticipos</span>
            </a>
          </li>
          

        <li class="nav-item pcoded-menu-caption fs-6">
          <label>CONFIGURACIÓN</label>
        </li>

        {% elif request.user.is_staff %}
          <!-- Opciones visibles para usuarios staff -->
          <li class="nav-item {% if 'ver_anticipos' in segment %}active{% endif %}">
            <a href="{% url 'ver_anticipos' %}" class="nav-link">
              <span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Ver Anticipos</span>
            </a>
          </li>
          <li class="nav-item {% if 'ver_diario' in segment %}active{% endif %}">
            <a href="{% url 'ver_diario' %}" class="nav-link">
              <span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Ver Ordenes Diarias</span>
            </a>
          </li>
	  <!-- Agregar la opción para ver el reporte de combustible -->
          <li class="nav-item {% if 'ver_combustible' in segment %}active{% endif %}">
          <a href="{% url 'ver_reporte_combustible' %}" class="nav-link">
          <span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Ver Reporte Combustible</span>
          </a>
          </li>
        {% endif %}
        {% if app_list %}
          {% for app in app_list %}
            {% if app.has_perms and not app.pinned %}
              <li class="nav-item pcoded-hasmenu">
                <a href="javascript:" class="nav-link">
                  <span class="pcoded-micon"><i class="{% if app.icon %}{{ app.icon }}{% else %}feather icon-box{% endif %}"></i></span>
                  <span class="pcoded-mtext">{{ app.label|slice:10 }}{% if app.label|length > 10 %}..{% endif %}</span>
                </a>
                {% if app.models %}
                  <ul class="pcoded-submenu">
                    {% for model in app.models %}
                      {% if model.url %}
                        <li class="nav-item {% if 'bootstrap-tables' in segment or model.url in request.path|urlencode %} active {% endif %}">
                          <a class="nav-link" href="{{ model.url }}">{{ model.label }}</a>
                        </li>
                      {% else %}
                        <li class="nav-item">{{ model.label }}</li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endif %}
          {% endfor %}
        {% endif %}
        <!-- Opciones para usuarios no autenticados -->
        {% if not request.user.is_authenticated %}
          <li class="nav-item pcoded-hasmenu">
            <a href="javascript:" class="nav-link"><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Authentication</span></a>
            <ul class="pcoded-submenu">
              <li><a href="{% url 'login' %}">Sign IN</a></li>
              <li><a href="{% url 'register' %}">Sign UP</a></li>
            </ul>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>


