{% load static %}
<!-- aprobar_anticipo.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aprobar Anticipo</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center">Aprobar Anticipo</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>ID:</label>
                <p>{{ anticipo.id }}</p>
            </div>
            <div class="form-group">
                <label>Proveedor o Empresa:</label>
                <p>{{ anticipo.nombre }}</p>
            </div>
            <div class="form-group">
                <label>Producto o Servicio:</label>
                <p>{{ anticipo.producto_servicio }}</p>
            </div>
            <!-- Añade más campos según sea necesario -->
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Aprobar</button>
                <a href="{% url 'ver_anticipos' %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
